BSB/force-app/main/default/flows/FT_Account_Set_Referentiel_Commune.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Agglomeration</name>
        <label>Assign Agglomeration</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Referentiel_Commune__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vRefCommune.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_record</name>
        <label>assign record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRefCommune</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Into_Referentiel_Commune</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Into_Referentiel_Commune</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_record</name>
        <label>assign record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vRefCommune</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Into_Referentiel_Commune</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Into_Referentiel_Commune</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getNumber_of_Items</name>
        <label>getNumber of Items</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>varNumberOfItems</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Referentiel</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Into_Referentiel_Commune</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agglomeration_Found</name>
        <label>Agglomeration Found ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRefCommune</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Agglomeration</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Assign</name>
        <label>Should Assign ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Into_Referentiel_Commune</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match</defaultConnectorLabel>
        <rules>
            <name>One_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfItems</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_record</targetReference>
            </connector>
            <label>One Record</label>
        </rules>
        <rules>
            <name>More_than_One_and_city_match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNumberOfItems</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Into_Referentiel_Commune.Commune__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>fCity</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_record</targetReference>
            </connector>
            <label>More than One and city match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Reformatted shipping City in UPPERCASE</description>
        <name>fCity</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE(
SUBSTITUTE( SUBSTITUTE(UPPER({!$Record.ShippingCity}),&quot; &quot;,&quot;-&quot;) , &quot;À&quot;, &quot;A&quot;),&quot;Á&quot;, &quot;A&quot;),&quot;Â&quot;, &quot;A&quot;),&quot;Ã&quot;, &quot;A&quot;),&quot;Ä&quot;, &quot;A&quot;),&quot;Å&quot;, &quot;A&quot;),&quot;Ą&quot;, &quot;A&quot;),&quot;à&quot;, &quot;a&quot;),&quot;á&quot;, &quot;a&quot;),&quot;â&quot;, &quot;a&quot;),&quot;ã&quot;, &quot;a&quot;),&quot;ä&quot;, &quot;a&quot;),&quot;å&quot;, &quot;a&quot;),&quot;ą&quot;, &quot;a&quot;),&quot;ß&quot;, &quot;B&quot;),&quot;Ò&quot;, &quot;O&quot;),&quot;Ó&quot;, &quot;O&quot;),&quot;Ô&quot;, &quot;O&quot;),&quot;Õ&quot;, &quot;O&quot;),&quot;Õ&quot;, &quot;O&quot;),&quot;Ö&quot;, &quot;O&quot;),&quot;Ø&quot;, &quot;O&quot;),&quot;Ó&quot;, &quot;O&quot;),&quot;ò&quot;, &quot;o&quot;),&quot;ó&quot;, &quot;o&quot;),&quot;ô&quot;, &quot;o&quot;),&quot;õ&quot;, &quot;o&quot;),&quot;ö&quot;, &quot;o&quot;),&quot;ø&quot;, &quot;o&quot;),&quot;ó&quot;, &quot;o&quot;),&quot;È&quot;, &quot;E&quot;),&quot;É&quot;, &quot;E&quot;),&quot;Ê&quot;, &quot;E&quot;),&quot;Ë&quot;, &quot;E&quot;),&quot;Ę&quot;, &quot;E&quot;),&quot;è&quot;, &quot;e&quot;),&quot;é&quot;, &quot;e&quot;),&quot;ê&quot;, &quot;e&quot;),&quot;ë&quot;, &quot;e&quot;),&quot;ę&quot;, &quot;e&quot;),&quot;ð&quot;, &quot;e&quot;),&quot;Ç&quot;, &quot;C&quot;),&quot;Ć&quot;, &quot;C&quot;),&quot;ç&quot;, &quot;c&quot;),&quot;ć&quot;, &quot;c&quot;),&quot;Ð&quot;, &quot;D&quot;),&quot;Ì&quot;, &quot;I&quot;),&quot;Í&quot;, &quot;I&quot;),&quot;Î&quot;, &quot;I&quot;),&quot;Ï&quot;, &quot;I&quot;),&quot;ì&quot;, &quot;i&quot;),&quot;í&quot;, &quot;i&quot;),&quot;î&quot;, &quot;i&quot;),&quot;ï&quot;, &quot;i&quot;),&quot;Ù&quot;, &quot;U&quot;),&quot;Ú&quot;, &quot;U&quot;),&quot;Û&quot;, &quot;U&quot;),&quot;Ü&quot;, &quot;U&quot;),&quot;ù&quot;, &quot;u&quot;),&quot;ú&quot;, &quot;u&quot;),&quot;û&quot;, &quot;u&quot;),&quot;ü&quot;, &quot;u&quot;),&quot;Ñ&quot;, &quot;N&quot;),&quot;Ń&quot;, &quot;N&quot;),&quot;ñ&quot;, &quot;n&quot;),&quot;ń&quot;, &quot;n&quot;),&quot;Š&quot;, &quot;S&quot;),&quot;Ś&quot;, &quot;S&quot;),&quot;š&quot;, &quot;s&quot;),&quot;ś&quot;, &quot;s&quot;),&quot;Ÿ&quot;, &quot;Y&quot;),&quot;ÿ&quot;, &quot;y&quot;),&quot;ý&quot;, &quot;y&quot;),&quot;Ž&quot;, &quot;Z&quot;),&quot;Ż&quot;, &quot;Z&quot;),&quot;Ź&quot;, &quot;Z&quot;),&quot;ž&quot;, &quot;z&quot;),&quot;ż&quot;, &quot;z&quot;),&quot;ź&quot;, &quot;z&quot;)</expression>
    </formulas>
    <interviewLabel>FT_Account_Set_Referentiel_Commune {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FT_Account_Set_Referentiel_Commune</label>
    <loops>
        <name>Loop_Into_Referentiel_Commune</name>
        <label>Loop Into Referentiel Commune</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Referentiel</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_Assign</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Agglomeration_Found</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Referentiel</name>
        <label>Get Referentiel Commune</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getNumber_of_Items</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Code_Postal__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ShippingPostalCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Agglomeration__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Commune__c</queriedFields>
        <queriedFields>Agglomeration__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Referentiel</targetReference>
        </connector>
        <filterFormula>OR(
ISNEW(), 
ISCHANGED({!$Record.ShippingPostalCode}),
ISCHANGED({!$Record.ShippingCity})
)</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agglomeration__c</objectType>
    </variables>
    <variables>
        <name>varNumberOfItems</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vRefCommune</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Agglomeration__c</objectType>
    </variables>
</Flow>
