BSB/force-app/main/default/flows/FT_Contact_BeforeInsert_Adhesionliee.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Decision_Is_main_Account_active</name>
        <label>Is main Account active</label>
        <locationX>281</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>ParentAccountDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Main account not active</defaultConnectorLabel>
        <rules>
            <name>Result_Main_account_active</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Tech_ActiveAdhesion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Contact_Adh_sion_Li_e</targetReference>
            </connector>
            <label>Main account active</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_There_an_Indirectly_related_adhesion</name>
        <label>Is There an Indirectly related adhesion</label>
        <locationX>710</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Adhesion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Contact_Relationship.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_adhesion_liee</targetReference>
            </connector>
            <label>Existing Adhesion</label>
        </rules>
    </decisions>
    <decisions>
        <name>ParentAccountDecision</name>
        <label>Does the Account have a Parent Account with an Active Adhesion</label>
        <locationX>512</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Contact_Relationship</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Résultat par défaut</defaultConnectorLabel>
        <rules>
            <name>ExistingAcc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.ParentId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Parent.Tech_ActiveAdhesion__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Adhesion_Li_e</targetReference>
            </connector>
            <label>Parent Account Exists with an Active adhesion</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FT_Contact_BeforeInsert_Adhesionliee {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FT_Contact_BeforeInsert_Adhesionliee</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Contact_Relationship</name>
        <label>Get Account Contact Relationship</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_There_an_Indirectly_related_adhesion</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ContactId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Account.Parent.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Tech_ActiveAdhesion__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AccountContactRelation</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Adhesion_Li_e</name>
        <label>Update Adhesion Liée</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Adhesion_liee__c</field>
            <value>
                <elementReference>$Record.Account.Parent.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Adhesion_liee_Id__c</field>
            <value>
                <elementReference>$Record.Account.Parent.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_adhesion_liee</name>
        <label>Update adhesion liée</label>
        <locationX>578</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Adhesion_liee__c</field>
            <value>
                <elementReference>Get_Account_Contact_Relationship.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Adhesion_liee_Id__c</field>
            <value>
                <elementReference>Get_Account_Contact_Relationship.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Contact_Adh_sion_Li_e</name>
        <label>Update Contact Adhésion Liée</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Adhesion_liee__c</field>
            <value>
                <elementReference>$Record.Account.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_Adhesion_liee_Id__c</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_Is_main_Account_active</targetReference>
        </connector>
        <filterFormula>NOT(ISCHANGED({!$Record.Referent_adhesion__c}))</filterFormula>
        <object>Contact</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ActiveAccountsIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SObject_MainAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
