BSB/force-app/main/default/flows/getListePartenaires.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <description>add current Partenaire name + a separator char (/)</description>
        <name>assignPartenaire</name>
        <label>assignPartenaire</label>
        <locationX>440</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>txtNomsPartenaires</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_Partenaires.Compte__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>txtNomsPartenaires</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> / </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Partenaires</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>remove_extra_char</name>
        <label>remove extra char</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <assignmentItems>
            <assignToReference>txtNomsPartenaires</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fRemoveExtraChar</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Should_skip_record</name>
        <label>Should skip record ?</label>
        <locationX>352</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assignPartenaire</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Do not skip</defaultConnectorLabel>
        <rules>
            <name>skip</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>skipRecordId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>loop_Partenaires.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_Partenaires</targetReference>
            </connector>
            <label>Skip</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <description>Formula to remove extra char from string nom Partenaires</description>
        <name>fRemoveExtraChar</name>
        <dataType>String</dataType>
        <expression>LEFT({!txtNomsPartenaires}, LEN({!txtNomsPartenaires}) - 3)</expression>
    </formulas>
    <interviewLabel>getListePartenaires {!$Flow.CurrentDateTime}</interviewLabel>
    <label>getListePartenaires</label>
    <loops>
        <description>Parcours tous les comptes partenaires d&apos;un projet pour alimenter une chaine de caractères listant les noms de tous les comptes partenaires</description>
        <name>loop_Partenaires</name>
        <label>loopIntoPartenaires</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <collectionReference>getPartenairesProjets</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Should_skip_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>remove_extra_char</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getPartenairesProjets</name>
        <label>getPartenairesProjets</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Partenaires</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Projet__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>projetID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Structures_partenaires_du_projet__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Compte__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPartenairesProjets</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>projetID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Id to be skipped in loop - used to not count a record when the flow is launched from a before delete action</description>
        <name>skipRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>txtNomsPartenaires</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
