BSB/force-app/main/default/flows/Partenaires_Projets_After_Delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>Partenaires Projets - After Delete {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Partenaires Projets - After Delete</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Projet</name>
        <label>Update Projet</label>
        <locationX>176</locationX>
        <locationY>395</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Projet__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Partenaires__c</field>
            <value>
                <elementReference>get_Partenaires.txtNomsPartenaires</elementReference>
            </value>
        </inputAssignments>
        <object>Projet__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_Partenaires</targetReference>
        </connector>
        <object>Structures_partenaires_du_projet__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>get_Partenaires</name>
        <label>get Partenaires</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <connector>
            <targetReference>Update_Projet</targetReference>
        </connector>
        <flowName>getListePartenaires</flowName>
        <inputAssignments>
            <name>projetID</name>
            <value>
                <elementReference>$Record.Projet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>skipRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </subflows>
</Flow>
