BSB/force-app/main/default/flows/Screen_Flow_Create_Opportunities_From_Campaign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe_Account</name>
        <label>Dedupe Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>get_Number_of_campaign_members</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>AccountID__c</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>getCampaignMembers</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Batch_of_200_Records</name>
        <label>Get Batch of 200 Records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ReturnFirstNRecords</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Assign_collection_to_process</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>inputCollection</name>
            <value>
                <elementReference>Dedupe_Account.outputRecordCollection</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordCount</name>
            <value>
                <numberValue>200.0</numberValue>
            </value>
        </inputParameters>
        <nameSegment>ReturnFirstNRecords</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Get_Unique_Ids</name>
        <label>Get Unique Ids</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ExtractStringsFromCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_dupe_campaign_members</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>CampaignMember</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>allowEmptyCollection</name>
        </inputParameters>
        <inputParameters>
            <name>dedupeValues</name>
        </inputParameters>
        <inputParameters>
            <name>fieldAPIName</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>Dedupe_Account.outputRecordCollection</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ExtractStringsFromCollection</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_to_collection</name>
        <label>Add to collections</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colAccountToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colContactToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colOpportunitiesToCreateUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vOpportunity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colCampaignMemberstoupdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vCampaignMember</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_into_campaign_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Account_member_last_Year</name>
        <label>Assign Account member last Year</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vAccount.Adherent_N_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fMemberlastYear</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount.Tech_ValidationBypassTime__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Opportunity_Value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_collection_to_process</name>
        <label>Assign collection to process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colCampaignMembersToProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Batch_of_200_Records.outputCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrBatch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_collection_to_process_Whole_Batch</name>
        <label>Assign collection to process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>colCampaignMembersToProcess</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Dedupe_Account.outputRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_into_campaign_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_contact_as_referent_Adhesion</name>
        <label>Assign contact as référent Adhesion</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vContact.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.Referent_adhesion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Flag_oppy_on_campaignmember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Flag_oppy_on_campaignmember</name>
        <label>Assign Flag oppy on campaignmember</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vCampaignMember.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCampaignMember.TEK_Oppy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Opportunity_Value</name>
        <label>Assign Opportunity Value</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vOpportunity.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Contact.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.CampaignId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.CampaignId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Contact.Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.Contact.Account.Tech_DefaultAdhesion__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fOpportunityName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Formulaire complété</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.Informations_sur_facturation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Adresse mail</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fDefaultCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.npsp__Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_into_campaign_members.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.Id</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vOpportunity.Date_Adhesion__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Date_d_adhesion</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_contact_as_referent_Adhesion</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>get_Number_of_campaign_members</name>
        <label>get Number of campaign members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CampaignMembersCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>getCampaignMembers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberofCampaignMembersDedupe</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Dedupe_Account.outputRecordCollection</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_there_dupe</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reset_Values</name>
        <label>Reset Values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>vOpportunity</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vAccount</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vContact</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>vCampaignMember</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Account_member_last_Year</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;path&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Any_CampaignMembers_to_process</name>
        <label>Any CampaignMembers to process ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>End_Nothinh</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing to do</defaultConnectorLabel>
        <rules>
            <name>CampaignMembers_to_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getCampaignMembers</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe_Account</targetReference>
            </connector>
            <label>CampaignMembers to process</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_there_dupe</name>
        <label>Is there dupe ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Slice_needed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No dupe</defaultConnectorLabel>
        <rules>
            <name>Dupe_detected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofCampaignMembersDedupe</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>CampaignMembersCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrDupe</targetReference>
            </connector>
            <label>Dupe detected</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check is the collection is not empty</description>
        <name>Is_there_opportunities_to_process</name>
        <label>Is there opportunities to process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Nothing to process</defaultConnectorLabel>
        <rules>
            <name>collection_to_create_not_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>colOpportunitiesToCreateUpdate</leftValueReference>
                <operator>IsEmpty</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_opportunities</targetReference>
            </connector>
            <label>collection to create not empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Slice_needed</name>
        <label>Slice needed ?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_collection_to_process_Whole_Batch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OK to process the whole batch</defaultConnectorLabel>
        <rules>
            <name>Too_many_ops_to_create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofCampaignMembersDedupe</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>200.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Batch_of_200_Records</targetReference>
            </connector>
            <label>Too many ops to create</label>
        </rules>
    </decisions>
    <description>Crée les opportunités d&apos;adhésion à partir des membres de la campagne</description>
    <environments>Default</environments>
    <formulas>
        <name>fDefaultAdhesionDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!$Flow.CurrentDate})+1,1,1)</expression>
    </formulas>
    <formulas>
        <name>fDefaultCloseDate</name>
        <dataType>Date</dataType>
        <expression>DATE(YEAR({!Date_d_adhesion})+1,03,31)</expression>
    </formulas>
    <formulas>
        <name>fDefaultPrefix</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT(YEAR(TODAY())+1),2) + &quot;ADH-&quot;</expression>
    </formulas>
    <formulas>
        <name>fMemberlastYear</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNULL({!loop_into_campaign_members.Contact.Account.annee_derniere_adhersion__c}), FALSE,YEAR({!loop_into_campaign_members.Contact.Account.annee_derniere_adhersion__c}) =  YEAR(TODAY()))</expression>
    </formulas>
    <formulas>
        <name>fOpportunityName</name>
        <dataType>String</dataType>
        <expression>LEFT({!Oppy_Prefix_Name} + {!loop_into_campaign_members.Contact.Account.Name},120)</expression>
    </formulas>
    <interviewLabel>Screen Flow - Create Opportunities From Campaign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen Flow - Create Opportunities From Campaign</label>
    <loops>
        <name>loop_into_campaign_members</name>
        <label>loop into campaign members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>colCampaignMembersToProcess</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reset_Values</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_there_opportunities_to_process</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_opportunities</name>
        <label>create opportunities</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Flag_campaign_members</targetReference>
        </connector>
        <doesUpsert>true</doesUpsert>
        <faultConnector>
            <targetReference>scrErrorOppyCreate</targetReference>
        </faultConnector>
        <inputReference>colOpportunitiesToCreateUpdate</inputReference>
    </recordCreates>
    <recordLookups>
        <description>Retrieve all the campaign members</description>
        <name>getCampaignMembers</name>
        <label>getCampaignMembers</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Any_CampaignMembers_to_process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TEK_Oppy__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>TEK_Dupe__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>CampaignMember</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadOrContactId</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>TEK_Oppy__c</queriedFields>
        <queriedFields>AccountID__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update campaign members with the flag</description>
        <name>Flag_campaign_members</name>
        <label>Update campaign members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrCreationOpp</targetReference>
        </connector>
        <inputReference>colCampaignMemberstoupdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Accounts</name>
        <label>update Accounts</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>update_Referent_Adhesions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorAccountUpdate</targetReference>
        </faultConnector>
        <inputReference>colAccountToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_dupe_campaign_members</name>
        <label>Update dupe campaign members</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Slice_needed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>Get_Unique_Ids.fieldValueCollection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>TEK_Dupe__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordUpdates>
    <recordUpdates>
        <name>update_Referent_Adhesions</name>
        <label>update Referent Adhesions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrFinUpdateReferents</targetReference>
        </connector>
        <faultConnector>
            <targetReference>scrErrorOppyUpdateContact</targetReference>
        </faultConnector>
        <inputReference>colContactToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>End_Nothinh</name>
        <label>End</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_txtEnd</name>
            <fieldText>&lt;h2&gt;🎉 Traitement terminé - &lt;strong&gt;Toutes les opportunités sont créées&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Fin</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrBatch</name>
        <label>scrBatch</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>loop_into_campaign_members</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_txtWarning</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;⚙️Traitement d&apos;un lot de 200 Opportunités⚙️&lt;/h1&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Etape_2_CreationOppy</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrConfirm</name>
        <label>scrConfirm</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getCampaignMembers</targetReference>
        </connector>
        <fields>
            <name>scrConfirm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrConfirm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Oppy_Prefix_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>fDefaultPrefix</elementReference>
                    </defaultValue>
                    <fieldText>Préfixe du nom d&apos;opportunité</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <fields>
                    <name>Date_d_adhesion</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>fDefaultAdhesionDate</elementReference>
                    </defaultValue>
                    <fieldText>Date d&apos;adhésion</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrConfirm_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>txtConfirm2</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;⚠️  Cette action va créer ou mettre à jour les opportunités d&apos;adhésions à partir des membres de la campagne. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;&lt;u&gt;Pour continuer, cliquez sur Suivant.&lt;/u&gt;&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <styleProperties>
                        <verticalAlignment>
                            <stringValue>top</stringValue>
                        </verticalAlignment>
                        <width>
                            <stringValue>12</stringValue>
                        </width>
                    </styleProperties>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Etape_1_configuration</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrCreationOpp</name>
        <label>scrCreationOpp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update_Accounts</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_txtEnd</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;✅&lt;/span&gt; &lt;strong&gt;Opportunités créées / mises à jour &lt;/strong&gt;&lt;/h2&gt;&lt;h2&gt;&lt;strong&gt;⏭️ Cliquer sur suivant pour mettre à jour les référents Adhésions ⏭️&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Etape_2_CreationOppy</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrDupe</name>
        <label>scrDupe</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Unique_Ids</targetReference>
        </connector>
        <fields>
            <name>txtWarning</name>
            <fieldText>&lt;h1 style=&quot;text-align: center;&quot;&gt;⚠️ Doublons détectés dans les comptes ⚠️&lt;/h1&gt;&lt;p&gt;Sur &lt;strong&gt;{!CampaignMembersCount} &lt;/strong&gt;membres présents dans la campagne &lt;strong&gt;{!NumberofCampaignMembersDedupe} &lt;/strong&gt;opportunités seront créées.&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Les membres de campagne en doublons pour un même compte ne seront pas traités&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;Cliquer sur suivant pour continuer le traitement ou fermer cet écran pour annuler&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Suivant</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
        <stageReference>
            <elementReference>Etape_1_configuration</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrErrorAccountUpdate</name>
        <label>scrErrorAccountUpdate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtErrorAccountUpdate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 4, 4);&quot;&gt;Une erreur s&apos;est produite lors de la mise  des informations Adhérent N-1 du compte :&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrErrorOppyCreate</name>
        <label>scrErrorOppyCreate</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>txtErrorOppyCreate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 4, 4);&quot;&gt;Une erreur s&apos;est produite lors de la création des opportunités : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Etape_2_CreationOppy</elementReference>
        </stageReference>
    </screens>
    <screens>
        <name>scrErrorOppyUpdateContact</name>
        <label>scrErrorOppyUpdateContact</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_txtErrorOppyCreate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(231, 4, 4);&quot;&gt;Une erreur s&apos;est produite lors de la mise à jour des contacts (référents adhésions) : &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrFinUpdateReferents</name>
        <label>scrFinUpdateReferent</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>getCampaignMembers</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_1_of_txtEnd</name>
            <fieldText>&lt;h2&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;✅&lt;/span&gt; &lt;strong&gt;Référents mis à jour &lt;/strong&gt;&lt;/h2&gt;&lt;h2&gt;&lt;strong&gt;⏭️ Cliquer sur suivant ⏭️&lt;/strong&gt;&lt;/h2&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
        <stageReference>
            <elementReference>Etape_3</elementReference>
        </stageReference>
    </screens>
    <stages>
        <name>Etape_1_configuration</name>
        <isActive>true</isActive>
        <label>Etape 1 - configuration</label>
        <stageOrder>1</stageOrder>
    </stages>
    <stages>
        <name>Etape_2_CreationOppy</name>
        <isActive>true</isActive>
        <label>Etape 2 - Création Opportunités</label>
        <stageOrder>2</stageOrder>
    </stages>
    <stages>
        <name>Etape_3</name>
        <isActive>true</isActive>
        <label>Etape 3 - Mise à jour des référents</label>
        <stageOrder>3</stageOrder>
    </stages>
    <stages>
        <name>Fin</name>
        <isActive>true</isActive>
        <label>Fin</label>
        <stageOrder>4</stageOrder>
    </stages>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>scrConfirm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignMembersCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>colAccountToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colCampaignMembersToProcess</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>colCampaignMemberstoupdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>colContactToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>colOpportunitiesToCreateUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NumberofCampaignMembersDedupe</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>vContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <description>Contains an opportunity to create or to updatte</description>
        <name>vOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
